<div class="row">
    <div class="twelve wide column">
        {% include summary.html %}

        <h2 class="ui dividing header">Experience</h2>
        {% include experience.html %}
        
        <h2 class="ui dividing header">Education</h2>
        {% include education.html %}
        
        <h2 class="ui dividing header">Interests</h2>
        {% include interests.html %}
    </div>
    <div class="four wide column" style="background:#dfe6e9;">
        <h2 class="ui dividing header">Personal Info</h2>
        {% include personal_info.html %}
        
        <h2 class="ui dividing header">Competencies</h2>
        {% include competencies.html %}

        <h2 class="ui dividing header">Skills</h2>
        {% include skills.html %}
        
        <h2 class="ui dividing header">Software</h2>
        {% include software.html %}
    </div>
</div>